<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/users" method="post">

    <label>
        First Name:
        <input type="text" name="firstName" value="<%= locals.firstName || '' %>">
    </label>
    <br>

    <label>
        Last Name:
        <input type="text" name="lastName" value="<%= locals.lastName || '' %>">
    </label>
    <br>

    <label>
        Gender:
        <select name="gender">
            <option value="">Select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </label>
    <br>

    <label>
        Age:
        <input type="number" name="age" min="0">
    </label>
    <br>

    <button type="submit">Submit</button>
</form>
</body>
</html>